// Kolory
$color-bg: #02001f;
$color-bg-alt: #1e0055;
$color-text: #fefcfc;
$color-heading: #00baa3;
$color-accent-alt: #4dfcd6;
$color-muted: #a6bccf;

// Font
$font-base: 'IBM Plex Mono', monospace;
$font-heading: 'IBM Plex Mono', monospace;

// Rozmiary
$gutter: 2rem;
$container-width: 1440px;
