@use "../base/variables" as *;

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  .container {
    max-width: 80rem;
  }
  h1 {
    max-width: 800px;
  }
  p {
    max-width: 500px;
  }
}
